*{
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px; 
}

.Img-Tesla {
    width: 100px;
    height: 100px;
}
.Img-Twitch{
     width: 50px;
}
h2 {
   font-size: large;
}
h3 {
    font-size: large;
 }
h4 {
    font-size: large;
 }
h5 {
    font-size: large;
 }
